<%- include('header'); %>


<div class = "ui main text container segment">
    <div class = "ui huge header flag">New Blog</div>

     <form class = "ui form" action = "/blog" method = "post">
         <div class= "field">
             <label>Title</label>
            <input type = "text" name = "name" placeholder="Title">
         </div>
  <div class= "field">
  <label>Image</label>
  <input type ="text" name = "image" placeholder="URL">
    </div>
    <div class= "field">
    <label>Body Content</label>
  <textarea  name = "Body" placeholder ="body"></textarea>
  </div>
 <input class = "ui violet inverted button" type = "submit" >
  </form>
</div>






<%- include('header'); %>